@model StoreFront.ViewModels.OrderViewModel
@{
    ViewBag.Title = "Order Admin";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div class="panel">
    <div class="panel-body">

        <table class="table" id="OrderTable">
            <tr>
                <th>
                    Order ID
                </th>
                <th>
                    Username
                </th>
                <th>
                    Total
                </th>
                <th>
                    Order Date
                </th>
                <th>
                    Status
                </th>
                <th>

                </th>
            </tr>

            @foreach (var item in Model.OrderResults)
            {
                <tr>
                    <td>@item.OrderID</td>
                    <td>@item.Username</td>
                    <td>@item.Total</td>
                    <td>@item.OrderDate</td>
                    <td>@item.Status</td>
                    <td><input id="fakeLink" class="editBtn" data-product="@item.OrderID" type="submit" value="Edit" /></td>
                </tr>
            }

        </table>

    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>

@section scripts
{
    <script>
        $(function () {

            $(".editBtn").click(function (e) {
                e.preventDefault();
                var _this = $(this);

                if (!isNaN(e)) {
                    $.ajax({
                        type: "POST",
                        data: { id: _this.data("product") },
                        url: '@Url.Action("Details", "OrderAdmin")'
                    });
                }
            });
        });
    </script>
}