@model StoreFront.ViewModels.OrderViewModel
@{
    ViewBag.Title = "Order Admin";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div class="panel">
    <div class="panel-body">


        <table class="table" id="OrderTable">
            <tr>
                <th>
                    Order ID
                </th>
                <th>
                    Username
                </th>
                <th>
                    Total
                </th>
                <th>
                    Order Date
                </th>
                <th>
                    Status
                </th>
                <th>

                </th>
            </tr>

            @foreach (var item in Model.OrderResults)
            {
                <tr>
                    <td>@item.OrderID</td>
                    <td>@item.Username</td>
                    <td>@item.Total</td>
                    <td>@item.OrderDate</td>
                    <td>@item.Status</td>
                    <td><input id="fakeLink" class="addBtn" data-product="@item.OrderID" type="submit" value="Edit" /></td>
                </tr>
            }

        </table>

    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>

@section scripts
{
    <script>
        @*$(function () {

            $(".addBtn").click(function (e) {
                e.preventDefault();
                var _this = $(this);
                $.ajax({
                    type: "POST",
                    data: { prodID: _this.data("product") },
                    url: '@Url.Action("Add", "ShoppingCart")',
                    success: function (data) {

                        $('#BadgeIcon').html(data).fadeOut(1).fadeIn('fast');

                        var msg = $("<span />").html("Product added!").css("color", "green");
                        msg.appendTo(_this.parent()).fadeIn().fadeOut(800);
                    }
                });
            });
        });*@
    </script>
}