@using StoreFront.Models
<!DOCTYPE html>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Site.css" rel="stylesheet" />

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

@*Credit: Background pattern from subtlepatterns.com*@
<body style="background-image:url('../../fonts/cork-wallet.png')">


    <div id="wrapper">
        <div class="container">
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("StoreFront", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse">
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </div>
        </div>

        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper">
            <ul class="nav sidebar-nav" id="listid">
                <li>@Html.Partial("_NavPartial")</li>
            </ul>
        </nav>

        <div id="page-content-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10">
                        @RenderBody()
                    </div>
                </div>
            </div>


            <div class="row">
                <footer class="footer" style="clear:both">
                    <p>&copy; @DateTime.Now.Year - Arthur Byra</p>
                    <p>Computer Aid, Inc.</p>
                </footer>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>